<!DOCTYPE html>
<html lang="en">
<head>
  <title>COVID</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  
  <style>
    
    .dinesh{
      width: 50%;
      min-height:20px;
    }
    
  </style>
</head>
<body>
  
  <nav class="navbar navbar">
    <div class="container-fluid" style="background-color: rgba(12, 168, 216, 0.86);">
      <a href="#"><img class="navbar-brand"  src="/static/logo.png" >
      </a>
      <div class="collapse navbar-collapse" id="myNavbar">
        <!-- <ul class="nav navbar-nav"> -->
          
        <!-- </ul> -->
        <ul class="nav navbar-nav navbar-right" >
          <li ><a style="color: black;" href="#" style="color: white;">Home</a></li>
          <li><a style="color: black;" href="https://www.linkedin.com/in/dinesh-kumar-s-1852771a2/"  style="color: white;">Contact</a></li>
          <li ><a class="nav-link dropdown-toggle" data-toggle="dropdown"  style="color: black;"">
              Login
          </a>
          <!-- rgb(117, 223, 175) -->
          
            <div class="dropdown-menu" style=" background-color: rgba(242, 84, 5, 0.805);">
              <a class="dropdown-item"  href="/admin"  style=" color: white; text-decoration:None;"><h5>Admin Login</h5></a><hr>
              <a class="dropdown-item" href="/user"  style="color: white; text-decoration:None ;"></h5>User Login</h5></a>
            
            
            </div>
          </li>
        </ul>
      </div>
  </nav>

  
<div class="container text-center">    
  <h3>What We Do</h3><br>
  <div class="row">
    <div class="col-sm-4">
      <h1>Welcome</h1>

      <p>Facts should matter, and science should win, but after 13 years as a medical reporter, I know it is not that simple.</p>
      
    </div>
    <div class="col-sm-4"> 
      <h1>Get Vaccinated</h1>
      <p>Be a Fighter! If you are fully or partially vaccinated, you can now share your vaccination status in your social circle. Let's encourage our friends and followers in joining India's battle against COVID-19.</p>    
        
    </div>
    
    <div class="col-sm-4">
        <div class="well">
        
            <h1>Our Partners</h1>
          </div>
      <div class="well">
        
        <img class="dinesh" src="/static/Dinesh.jpg">
       <p>Dr. Dinesh Kumar ,MBBS., PhD</p>
      </div>
      
    </div>
  </div>
</div><br>



</body>
</html>
