<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table>
		<thead>
			<tr>Id</tr>&nbsp;
			<tr>First Name</tr>&nbsp;
			<tr>Last Name</tr>&nbsp;
			<tr>Age</tr>&nbsp;
			<tr>#</tr>&nbsp;
		</thead>
		{% for data in users %}
		<tbody>
			<td>{{data.id}}</td>
			<td>{{data.first_name}}</td>
			<td>{{data.last_name}}</td>
            <td>{{data.email}}</td>
            <td>{{data.pas}}</td>
			<td>{{data.age}}</td>
			<td><a href="/delete/{{data.id}}" type="button" >Delete</a></td>
		</tbody>
		
		{% endfor %}
	
	</table>
    
</body>
</html>